In [1]:
import pandas as pd

##Extraction

In [14]:
travels_dataset = travels_data.copy()

In [2]:
travels_data= pd.read_csv('https://drive.google.com/uc?id=1muwnik-uFGTKBdHmcQN5z68rD7qmdG-b')

In [4]:
travels_data.shape

(418, 6)

In [6]:
travels_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    object
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: float64(1), object(5)
memory usage: 19.7+ KB

In [7]:
travels_data

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference
3,Adam P. Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference
...,...,...,...,...,...,...
413,Warren Jensen!,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference

##cleaning

In [25]:
travels_data['Travel Start Date']

0           2017-05-31
1           2016-01-24
2           2018-10-04
3           2016-06-19
4           2019-11-19
            ...
413    2017-11-06
414         2019-03-25
415         2017-11-06
416         2017-05-21
417         2019-08-13
Name: Travel Start Date, Length: 418, dtype: object

In [24]:
travels_data['Travel Start Date'] = pd.to_datetime(travels_data['Travel Start Date'])

ValueError: unconverted data remains when parsing with format "%Y-%m-%d": "     ", at position 413. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [27]:
travels_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 19.7+ KB

In [22]:
def remove_white_space(text):
    if type(text):
        return text.strip()
    return text

In [26]:
travels_dataset['Travel Start Date']= travels_dataset['Travel Start Date'].apply(remove_white_space)

AttributeError: 'Timestamp' object has no attribute 'strip'

In [16]:
travels_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    object
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: float64(1), object(5)
memory usage: 19.7+ KB

In [21]:
travels_dataset['Travel Start Date'] = travels_dataset['Travel Start Date'].apply(remove_white_space)

AttributeError: 'Timestamp' object has no attribute 'strip'

In [18]:
travels_dataset.info

<bound method DataFrame.info of               Employee     Destination Travel Start Date Travel End Date  \
0         Aaron Salter  OCEAN CITY, MD        2017-05-31      2017-06-02
1    Abigail Ratnofsky   SAN DIEGO, CA        2016-01-24      2016-01-29
2       Adam Kisthardt     ORLANDO, FL        2018-10-04      2018-10-09
3        Adam P. Jones  OCEAN CITY, MD        2016-06-19      2016-06-21
4          Alan Butsch   SAN DIEGO, CA        2019-11-19      2019-11-22
..                 ...             ...               ...             ...
413     Warren Jensen!  OCEAN CITY, MD        2017-11-06      2017-11-09
414        Warp Jensen  OCEAN CITY, MD        2019-03-25      2019-03-26
415     Whitney Kujawa  OCEAN CITY, MD        2017-11-06      2017-11-09
416      William Kinna   CHARLOTTE, NC        2017-05-21      2017-05-26
417             Xin Qi  OCEAN CITY, MD        2019-08-13      2019-08-17

     Actual Total Expenses Purpose Of Travel
0                   644.10        Conference
1                  2962.70        Conference
2                  1891.19        Conference
3                   324.36        Conference
4                  2141.51        Conference
..                     ...               ...
413                 502.45        Conference
414                  78.00        Conference
415                 567.00        Conference
416                2163.67        Conference
417                2107.51        Conference

[418 rows x 6 columns]>

In [28]:
travels_dataset['Travel End Date'] = pd.to_datetime(travels_data['Travel End Date'])

In [29]:
travels_dataset['Travel End Date'] = travels_dataset['Travel End Date'].apply(remove_white_space)

AttributeError: 'Timestamp' object has no attribute 'strip'

In [30]:
travels_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 19.7+ KB

In [32]:
travels_dataset[travels_dataset['Purpose Of Travel'].isna()]

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
126,Gaila Compton,"OCEAN CITY, MD",2019-09-25,2019-09-27,690.00,NaN
274,Mark Sheelor,"LAS VEGAS, NV",2017-03-06,2017-03-08,1411.34,NaN
385,Tamara Maldonado,"OCEAN CITY, MD",2017-10-19,2017-10-20,73.50,NaN

In [34]:
travels_dataset['Purpose Of Travel']=travels_dataset['Purpose Of Travel'].fillna('Not Provided')

In [35]:
travels_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      418 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 19.7+ KB

In [ ]:
##Separate state and city

In [41]:
def extract_state(text):
    result = text.split(',')[1]
    return result


def extract_city(text):
    result = text.split(',')[0]
    return result

In [42]:
travels_dataset['State']=travels_dataset['Destination'].apply(extract_state)
travels_dataset['City']=travels_dataset['Destination'].apply(extract_city)

In [43]:
travels_dataset

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel,State,City
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference,MD,OCEAN CITY
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference,CA,SAN DIEGO
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference,FL,ORLANDO
3,Adam P. Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference,MD,OCEAN CITY
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference,CA,SAN DIEGO
...,...,...,...,...,...,...,...,...
413,Warren Jensen!,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference,MD,OCEAN CITY
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference,MD,OCEAN CITY
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference,MD,OCEAN CITY
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference,NC,CHARLOTTE
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference,MD,OCEAN CITY

In [45]:
columns = ['Employee', 'State', 'City' ,'Travel Start Date', 'Travel End Date', 'Actual Total Expenses', 'Purpose Of Travel']
final_result = travels_dataset[columns].copy()

In [47]:
final_result.to_csv('cleaned_travels_dataset.csv')

In [48]:
final_result

,Employee,State,City,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,MD,OCEAN CITY,2017-05-31,2017-06-02,644.10,Conference
1,Abigail Ratnofsky,CA,SAN DIEGO,2016-01-24,2016-01-29,2962.70,Conference
2,Adam Kisthardt,FL,ORLANDO,2018-10-04,2018-10-09,1891.19,Conference
3,Adam P. Jones,MD,OCEAN CITY,2016-06-19,2016-06-21,324.36,Conference
4,Alan Butsch,CA,SAN DIEGO,2019-11-19,2019-11-22,2141.51,Conference
...,...,...,...,...,...,...,...
413,Warren Jensen!,MD,OCEAN CITY,2017-11-06,2017-11-09,502.45,Conference
414,Warp Jensen,MD,OCEAN CITY,2019-03-25,2019-03-26,78.00,Conference
415,Whitney Kujawa,MD,OCEAN CITY,2017-11-06,2017-11-09,567.00,Conference
416,William Kinna,NC,CHARLOTTE,2017-05-21,2017-05-26,2163.67,Conference
417,Xin Qi,MD,OCEAN CITY,2019-08-13,2019-08-17,2107.51,Conference